.container-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-consulta, .container-cadArma, .container-imprimir {
    display: flexbox;
    margin: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 35%;
    max-width: 350px;
    height: 200px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container-principal h3 {
    color: black;
    text-align: start;
}

.container-principal h4 {
    text-align: center;
}

.container-principal p {
    text-align: end;
}

@media (max-width: 768px) {
    .container-consulta, .container-cadArma, .container-imprimir {
        width: 45%; 
        max-width: none; 
    }

    .container-consulta {
        margin-top: 100px;
    }
}