.container-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 8%;
    min-height: 80vh;
}

.card-container.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100%; 
}

.card-container.bottom {
    display: flex;
    justify-content: center; 
    width: 100%;
}

@media (max-width: 768px) {
    .card-container.top {
        flex-direction: column;
        align-items: center;
    }
}