.containerSolicitar {
    background-color: #0A0C53;
    border-radius: 8px;
    padding: 20px;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerSolicitar h2 {
    text-align: center; 
}

.tab-container {
    background-color: white;
    color: black;
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #fff; 
    padding: 10px;
    border-radius: 8px;
}

.tabs button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}

.tabs button.active {
    border-bottom: 2px solid black; 
    font-weight: bold;
}


.dados-pessoais {
    margin-top: 20px;
}

.dados-pessoais h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.dados-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dados-col {
    flex: 1;
    padding: 0 10px;
}

.dados-col label {
    font-weight: bold;
}

.dados-col p {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}


.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    gap: 30px;
}

.clear-button, .save-button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.clear-button {
    background-color: #e0e0e0;
    color: #333;
}

.save-button {
    background-color: #28a745;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-button i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    .clear-button, .save-button {
        width: 100%;
    }

    .containerSolicitar {
        width: 95vw;
        height: 90vh;
    }

    .dados-row {
        flex-direction: column;
    }
}
