# Ignorar node_modules
node_modules
npm-debug.log

# Ignorar arquivos de log
*.log
yarn-debug.log*
yarn-error.log*

# Ignorar builds
build
dist

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de controle de versão
.git
.gitignore

# Ignorar arquivos de ambiente
.env
